Flask ~= 1.1.2
Flask_WTF ~= 0.14.3
WTForms ~= 2.3.3
Werkzeug ~= 1.0.1
appdirs ~= 1.4.4
attrs ~= 20.3.0
beautifulsoup4 ~= 4.9.3
elasticsearch ~= 7.10.1
python_dotenv ~= 0.15.0
python_frontmatter ~= 0.5.0
requests ~= 2.25.0
tinydb ~= 4.1.1
validators ~= 0.18.2
flask-login ~= 0.5.0
click_plugins ~= 1.1.1
html2text
flask_compress ~= 1.8.0
